@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.bg-img {
    background: url('/static/images/bg.jpg') center/cover fixed;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
    padding-top: 20px; /* Adjust as needed */
}

.signup-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 20px;
}

.btn-primary {
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.alert-danger {
    margin-top: 20px;
}
